Repository hwiorn/rust-mcp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, check-unwraps, cargo-test-doc, cargo-audit, version-sync

check-todos:
  name: 'üè≠ Toyota Way: Zero SATD Tolerance'
  entry: sh
  args:
  - -c
  - '! grep -r ''TODO\|FIXME\|HACK\|XXX'' src/ --include=''*.rs'' || exit 1'
  language: system
  fail_fast: true

check-unwraps:
  name: 'üè≠ Toyota Way: No unwrap() in Production'
  entry: sh
  args:
  - -c
  - '! grep -r ''\.unwrap()'' src/ --include=''*.rs'' | grep -v test || exit 1'
  language: system
  fail_fast: true

cargo-test-doc:
  name: 'üè≠ Toyota Way: Documentation Tests'
  entry: cargo
  args:
  - test
  - --doc
  - --all-features
  language: system
  pass_filenames: false
  fail_fast: true

cargo-audit:
  name: 'üè≠ Toyota Way: Security Vulnerability Check'
  entry: cargo
  args:
  - audit
  language: system
  pass_filenames: false
  fail_fast: true

version-sync:
  name: 'üè≠ Toyota Way: Version Synchronization'
  entry: sh
  args:
  - -c
  - test $(cat VERSION) = $(grep '^version' Cargo.toml | cut -d'"' -f2)
  language: system
  fail_fast: true

fix: resolve clippy errors for CI pipeline
  src/server/adapter_tests.rs
  src/server/adapters.rs
  src/server/core.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: resolve remaining clippy errors for CI
  src/server/adapter_tests.rs
  src/server/adapters.rs
  src/server/builder.rs
  src/server/core.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: correct protocol version negotiation in ServerCore
  src/server/core.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

style: apply cargo fmt formatting
  src/server/core.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: resolve strict clippy warnings for CI
  src/server/adapter_tests.rs
  src/server/adapters.rs
  src/server/builder.rs
  src/server/core.rs
  src/server/core_tests.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

docs: update quality badges and report
  QUALITY_REPORT.md
Due: none

fix: resolve cast_possible_wrap and fallible_impl_from clippy errors
  src/server/adapter_tests.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: remove TODO comment to pass quality gate
  src/server/core.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: Align mcp-tester with WASM MCP server implementations
  examples/26-server-tester/src/main.rs
  examples/26-server-tester/src/scenario_executor.rs
  examples/26-server-tester/src/tester.rs
  examples/wasm-mcp-server/README.md
  examples/wasm-mcp-server/deployments/cloudflare/README.md
  examples/wasm-mcp-server/deployments/fermyon-spin/Cargo.toml
  examples/wasm-mcp-server/deployments/fermyon-spin/README.md
  examples/wasm-mcp-server/deployments/fermyon-spin/src/lib.rs
  examples/wasm-mcp-server/src/lib.rs
  examples/wasm-mcp-server/test-scenarios/all-tools-test.yaml
  examples/wasm-mcp-server/test-scenarios/calculator-simple.json
  examples/wasm-mcp-server/test-scenarios/calculator-test.yaml
  examples/wasm-mcp-server/test-scenarios/minimal-test.json
  src/shared/streamable_http.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: Windows release asset upload path in GitHub Actions
  .github/workflows/release-tester.yml
Due: none

fix: Handle existing releases in GitHub Actions workflow
  .github/workflows/release.yml
  RELEASE_NOTES_v1.5.0.md
Due: none

chore: bump version to 1.5.0 for release
  Cargo.toml
Due: version-sync

fix: update release workflow to handle existing releases gracefully
  .github/workflows/release.yml
Due: none

chore: bump version to 1.5.1
  CHANGELOG.md
  Cargo.toml
Due: version-sync

chore: bump version to 1.5.2
  CHANGELOG.md
  Cargo.toml
Due: version-sync

feat: Add schema support for tools in streamable HTTP implementation
  examples/22_streamable_http_server_stateful.rs
  src/lib.rs
  src/server/core.rs
  src/server/core_tests.rs
  src/server/mod.rs
  src/server/simple_tool.rs
  src/server/simple_tool_tests.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

feat: add metadata support for prompts and improved resource helpers
  examples/06_server_prompts.rs
  examples/08_server_resources.rs
  examples/48_structured_output_schema.rs
  src/lib.rs
  src/server/core.rs
  src/server/mod.rs
  src/server/simple_prompt.rs
  src/server/simple_resources.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: correct Result type in example 48_structured_output_schema
  examples/48_structured_output_schema.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

Path conditions:
  check-todos: any of: \.rs$
  check-unwraps: any of: \.rs$
  cargo-test-doc: any of: \.rs$
  cargo-audit: any of: \.rs$
  version-sync: any of: ^(VERSION|Cargo\.toml)$
