Repository hwiorn/rust-mcp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, check-unwraps, cargo-test-doc, cargo-audit, version-sync

check-todos:
  name: 'üè≠ Toyota Way: Zero SATD Tolerance'
  entry: sh
  args:
  - -c
  - '! grep -r ''TODO\|FIXME\|HACK\|XXX'' src/ --include=''*.rs'' || exit 1'
  language: system
  fail_fast: true

check-unwraps:
  name: 'üè≠ Toyota Way: No unwrap() in Production'
  entry: sh
  args:
  - -c
  - '! grep -r ''\.unwrap()'' src/ --include=''*.rs'' | grep -v test || exit 1'
  language: system
  fail_fast: true

cargo-test-doc:
  name: 'üè≠ Toyota Way: Documentation Tests'
  entry: cargo
  args:
  - test
  - --doc
  - --all-features
  language: system
  pass_filenames: false
  fail_fast: true

cargo-audit:
  name: 'üè≠ Toyota Way: Security Vulnerability Check'
  entry: cargo
  args:
  - audit
  language: system
  pass_filenames: false
  fail_fast: true

version-sync:
  name: 'üè≠ Toyota Way: Version Synchronization'
  entry: sh
  args:
  - -c
  - test $(cat VERSION) = $(grep '^version' Cargo.toml | cut -d'"' -f2)
  language: system
  fail_fast: true

Update examples/06_server_prompts.rs
  examples/06_server_prompts.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

Update src/server/simple_resources.rs
  src/server/simple_resources.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: correct base64 import and module exports
  examples/06_server_prompts.rs
  src/lib.rs
  src/server/mod.rs
  src/server/simple_resources.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: address clippy needless_pass_by_value warning
  examples/08_server_resources.rs
  src/server/simple_resources.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

docs: update quality badges and report
  QUALITY_REPORT.md
Due: none

feat(mcp-tester): add schema validation, scenario generation, and enhanced testing
  examples/26-server-tester/README.md
  examples/26-server-tester/scenarios/prompts_test.yaml
  examples/26-server-tester/scenarios/resources_test.yaml
  examples/26-server-tester/src/main.rs
  examples/26-server-tester/src/report.rs
  examples/26-server-tester/src/scenario_generator.rs
  examples/26-server-tester/src/tester.rs
  examples/26-server-tester/src/validators.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: increase SIMD performance test timeout to 200ms
  tests/simd_parsing_tests.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: update deprecated GitHub Actions to eliminate warnings
  .github/workflows/quality-badges.yml
  CLAUDE.md
  examples/26-server-tester/wikipedia_test_scenario.yaml
  examples/26-server-tester/wikipedia_test_scenario_full.yaml
Due: none

chore: bump version to 1.5.4
  Cargo.toml
  README.md
Due: version-sync

fix: Tool description serialization and MCP Tester integration
  .github/workflows/mcp-tester-validation.yml
  Makefile
  docs/TESTING_WITH_MCP_TESTER.md
  examples/scenarios/22_http_stateful_test.yaml
  scripts/test_examples_with_tester.sh
  src/server/mod.rs
  src/server/simple_tool_tests.rs
  tests/transport_isolation_properties.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: Remove references to non-existent MCP tester example
  .github/workflows/mcp-tester-validation.yml
  Makefile
  scripts/test_examples_with_tester.sh
Due: none

fix: Simplify CI workflow to only verify compilation
  .github/workflows/mcp-tester-validation.yml
Due: none

chore: bump version to 1.5.5
  Cargo.toml
Due: version-sync

feat: implement type-safe schema generation with cross-transport support
  Cargo.toml
  README.md
  docs/TYPED_TOOLS_GUIDE.md
  examples/32_typed_tools.rs
  examples/33_advanced_typed_tools.rs
  examples/34_serverbuilder_typed.rs
  examples/35_wasm_typed_tools.rs
  src/lib.rs
  src/server/error_codes.rs
  src/server/mod.rs
  src/server/path_validation.rs
  src/server/schema_utils.rs
  src/server/typed_tool.rs
  src/server/typed_tool_v2.rs
  src/server/validation.rs
  src/server/wasm_typed_tool.rs
  tests/sse_optimization_tests.rs
  tests/typed_tool_sse_test.rs
  tests/typed_tool_tests.rs
  tests/typed_tool_transport_e2e.rs
  tests/websocket_property_tests.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit, version-sync

fix: resolve unused AccountType enum warning in example
  examples/33_advanced_typed_tools.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: skip typed tool examples in CI without schema-generation feature
  .github/workflows/ci.yml
Due: none

fix: also skip 34_serverbuilder_typed example in CI
  .github/workflows/ci.yml
Due: none

chore: release v1.6.0 - production-ready type-safe tools
  Cargo.toml
  README.md
Due: version-sync

feat: add description support for typed tool builder methods
  Cargo.toml
  README.md
  examples/36_typed_tool_v2_example.rs
  examples/37_description_variants_example.rs
  src/lib.rs
  src/server/mod.rs
  src/server/typed_tool.rs
  src/server/typed_tool_v2.rs
  src/server/wasm_typed_tool.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit, version-sync

fix: resolve clippy doc-markdown warnings
  src/server/mod.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: add new typed tool examples to CI skip list
  .github/workflows/ci.yml
Due: none

fix: update to axum 0.8.5 for compatibility and security
  Cargo.toml
  pmcp-book/book.toml
  pmcp-book/theme/mermaid-init.js
  src/server/streamable_http_server.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit, version-sync

book(ch04): protocol basics via website analogy; add Mermaid diagrams + preprocessor; runtime init + CSS tweaks; README mermaid docs
  pmcp-book/README.md
  pmcp-book/book.toml
  pmcp-book/src/ch04-protocol-basics.md
  pmcp-book/theme/pmcp.css
Due: none

Path conditions:
  check-todos: any of: \.rs$
  check-unwraps: any of: \.rs$
  cargo-test-doc: any of: \.rs$
  cargo-audit: any of: \.rs$
  version-sync: any of: ^(VERSION|Cargo\.toml)$
