Repository hwiorn/rust-mcp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, check-unwraps, cargo-test-doc, cargo-audit, version-sync

Path conditions:
  check-todos: any of: \.rs$
  check-unwraps: any of: \.rs$
  cargo-test-doc: any of: \.rs$
  cargo-audit: any of: \.rs$
  version-sync: any of: ^(VERSION|Cargo\.toml)$

docs: update quality badges and report
  QUALITY_REPORT.md
Due: none

fix: properly handle Windows paths in release-tester workflow
  .github/workflows/release-tester.yml
Due: none

test: temporarily add push trigger for testing workflow in fork
  .github/workflows/release-tester.yml
Due: none

fix: disable Apple Silicon cross-compilation due to ring crate limitations
  .github/workflows/release-tester.yml
Due: none

fix: handle missing releases in fork by creating dev release
  .github/workflows/release-tester.yml
Due: none

docs: add MCP Server Tester section to README
  .github/workflows/release-tester.yml
  README.md
Due: none

chore(release): v1.4.2
  CHANGELOG.md
  Cargo.toml
  README.md
Due: version-sync

fix: handle missing corpus in scheduled fuzz coverage job
  .github/workflows/fuzz.yml
Due: none

feat: enhance MCP server tester with scenario testing and protocol fixes
  examples/26-server-tester/Cargo.toml
  examples/26-server-tester/README.md
  examples/26-server-tester/SCENARIO_FORMAT.md
  examples/26-server-tester/scenarios/basic-test.yaml
  examples/26-server-tester/scenarios/complex-workflow.json
  examples/26-server-tester/scenarios/logseq-basic.yaml
  examples/26-server-tester/scenarios/logseq-journal.yaml
  examples/26-server-tester/scenarios/logseq-test.yaml
  examples/26-server-tester/scenarios/logseq-workflow.json
  examples/26-server-tester/scenarios/performance-test.yaml
  examples/26-server-tester/scenarios/tool-validation.yaml
  examples/26-server-tester/scenarios/wikipedia-test.yaml
  examples/26-server-tester/src/main.rs
  examples/26-server-tester/src/scenario.rs
  examples/26-server-tester/src/scenario_executor.rs
  examples/26-server-tester/src/tester.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

style: apply cargo fmt and fix clippy warnings
  examples/26-server-tester/src/main.rs
  examples/26-server-tester/src/scenario.rs
  examples/26-server-tester/src/scenario_executor.rs
  examples/26-server-tester/src/tester.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

feat: major refactoring for WASM/WASI deployment and TypeScript SDK alignment
  CLAUDE.md
  Cargo.toml
  REFACTORING_ISSUE.md
  REFACTORING_SUMMARY.md
  claude-instance/INVESTIGATION_REPORT.md
  examples/cloudflare-worker-mcp/Cargo.toml
  examples/cloudflare-worker-mcp/Makefile
  examples/cloudflare-worker-mcp/README.md
  examples/cloudflare-worker-mcp/node_modules/.mf/cf.json
  examples/cloudflare-worker-mcp/package.json
  examples/cloudflare-worker-mcp/src/bin/test-client.rs
  examples/cloudflare-worker-mcp/src/index.js
  examples/cloudflare-worker-mcp/src/lib.rs
  examples/cloudflare-worker-mcp/src/types.rs
  examples/cloudflare-worker-mcp/worker-with-tools.js
  examples/cloudflare-worker-mcp/worker.js
  examples/cloudflare-worker-mcp/wrangler.toml
  examples/refactored_server_example.rs
  src/error/recovery.rs
  src/lib.rs
  src/runtime/mod.rs
  src/server/adapter_tests.rs
  src/server/adapters.rs
  src/server/builder.rs
  src/server/core.rs
  src/server/core_tests.rs
  src/server/mod.rs
  src/server/wasi_adapter.rs
  src/shared/connection_pool.rs
  src/shared/mod.rs
  src/shared/protocol.rs
  src/shared/wasm_http.rs
  src/types/capabilities.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit, version-sync

chore: bump version to 1.5.0 for WASM/WASI feature release
  Cargo.toml
Due: version-sync
