Repository hwiorn/rust-mcp-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, check-unwraps, cargo-test-doc, cargo-audit, version-sync

check-todos:
  name: 'üè≠ Toyota Way: Zero SATD Tolerance'
  entry: sh
  args:
  - -c
  - '! grep -r ''TODO\|FIXME\|HACK\|XXX'' src/ --include=''*.rs'' || exit 1'
  language: system
  fail_fast: true

check-unwraps:
  name: 'üè≠ Toyota Way: No unwrap() in Production'
  entry: sh
  args:
  - -c
  - '! grep -r ''\.unwrap()'' src/ --include=''*.rs'' | grep -v test || exit 1'
  language: system
  fail_fast: true

cargo-test-doc:
  name: 'üè≠ Toyota Way: Documentation Tests'
  entry: cargo
  args:
  - test
  - --doc
  - --all-features
  language: system
  pass_filenames: false
  fail_fast: true

cargo-audit:
  name: 'üè≠ Toyota Way: Security Vulnerability Check'
  entry: cargo
  args:
  - audit
  language: system
  pass_filenames: false
  fail_fast: true

version-sync:
  name: 'üè≠ Toyota Way: Version Synchronization'
  entry: sh
  args:
  - -c
  - test $(cat VERSION) = $(grep '^version' Cargo.toml | cut -d'"' -f2)
  language: system
  fail_fast: true

docs: update quality badges and report
  QUALITY_REPORT.md
Due: none

style: fix code formatting for examples and tests
  examples/47_multiple_clients_parallel.rs
  examples/48_structured_output_schema.rs
  examples/49_tool_with_sampling_server.rs
  tests/tool_with_sampling_tests.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

feat: add GitHub Pages deployment for PMCP Guide
  .github/workflows/book.yml
  README.md
Due: none

docs: add prominent PMCP Guide documentation section to README
  README.md
Due: none

fix: make core dependencies non-optional for crates.io publishing
  Cargo.toml
Due: version-sync

docs: update roadmap to reflect v1.4.1 publication success
  docs/execution/roadmap.md
Due: none

docs: update roadmap specification to reflect v1.4.1 completion
  docs/specifications/pmcp-roadmap-spec.md
Due: none

docs: fix book doctests and configuration issues
  pmcp-book/book.toml
  pmcp-book/src/introduction.md
Due: none

fix: repair make coverage command with focused package scope
  Makefile
Due: none

docs: add gitignore for pmcp-book build artifacts
  pmcp-book/.gitignore
Due: none

docs: fix GitHub Pages URL in README
  README.md
Due: none

feat: add GitHub Actions workflow for building MCP tester binaries
  .github/workflows/release-tester.yml
Due: none

fix: Add JSON-RPC 2.0 compatibility to HTTP transport (fixes #38)
  examples/48_structured_output_schema.rs
  src/server/streamable_http_server.rs
  src/shared/streamable_http.rs
  tests/http_json_rpc_compatibility.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: handle edge cases in transport_layer fuzz test
  fuzz/fuzz_targets/transport_layer.rs
  src/server/mod.rs
  test_input.bin
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: prevent memory exhaustion and panics in transport_layer fuzz test
  fuzz/fuzz_targets/transport_layer.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: prevent panics in auth_flows fuzz test
  fuzz/fuzz_targets/auth_flows.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: prevent memory exhaustion in auth_flows fuzz test
  fuzz/fuzz_targets/auth_flows.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: prevent memory exhaustion in transport_layer WebSocket framing
  fuzz/fuzz_targets/transport_layer.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: prevent integer overflow in auth_flows token expiry calculation
  fuzz/fuzz_targets/auth_flows.rs
Due: check-todos, check-unwraps, cargo-test-doc, cargo-audit

fix: handle both release and workflow_dispatch events in tester release workflow
  .github/workflows/release-tester.yml
Due: none

fix: Windows path compatibility in release-tester workflow
  .github/workflows/release-tester.yml
Due: none

feat: add macOS Apple Silicon (aarch64) build target
  .github/workflows/release-tester.yml
Due: none

Path conditions:
  check-todos: any of: \.rs$
  check-unwraps: any of: \.rs$
  cargo-test-doc: any of: \.rs$
  cargo-audit: any of: \.rs$
  version-sync: any of: ^(VERSION|Cargo\.toml)$
